*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
  background-color: cadetblue;
  margin-top: 100px;
  padding:20px ;
  color: #e6e2e9;
  align-items: center;
}

.TARJETA{
  
  background-color: rgb(73, 70, 70);
  width: 600px;
  margin:auto;
  padding: 10px 0px 10px 0px;
  border-radius: 6px;
  line-height: 20px;

}
  form{
  
  background-color: aliceblue;
  left: 200px;
  width: 400px;
  margin:auto;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  line-height: 20px;
  font-size: 16px;
  
}
  

